@model ShoppingCartViewModel

@{
    var pageName = "Shopping Cart";
    ViewData["Title"] = pageName;
}

<h2>Your @pageName</h2>
<h4>Here are the best Items in your shopping cart.</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Items Count</th>
            <th>Item Type</th>
            <th>Catag</th>
            <th>Item Name</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                @if (line.Car != null)
                {
                    <td class="text-center">
                        <a class="btn btn-default" asp-action="RemoveFromShoppingCart" asp-route-carId="@line.Car.Id"><b>-</b></a>          <b>@line.Amount</b>
                        <a class="btn btn-default" asp-action="AddToShoppingCart" asp-route-carId="@line.Car.Id"><b>+</b></a>
                    </td>
                    <td>Car</td>
                    <td>@line.Car.Category.Name</td>
                    <td class="text-left">@line.Car.Name</td>
                    <td class="text-right">@line.Car.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Amount * line.Car.Price).ToString("c"))
                    </td>
                }
                else
                {
                    <td class="text-center">
                        <a class="btn btn-default"  asp-controller="Parts" asp-action="RemoveToShoppingCart" asp-route-partId="@line.Part.Id"><b>-</b></a>          <b>@line.Amount</b>
                        <a class="btn btn-default" asp-controller="Parts"  asp-action="AddToShoppingCart" asp-route-partId="@line.Part.Id"><b>+</b></a>
                    </td>
                    <td>Part</td>
                    <td>@line.Part.PartsCategory.Name</td>
                    <td class="text-left">@line.Part.Name</td>
                    <td class="text-right">@line.Part.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Amount * line.Part.Price).ToString("c"))
                    </td>
                }

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div align="right">
    @if (Model.ShoppingCartTotal > 0)
    {
        <a asp-controller="Orders" asp-action="Checkout" class="btn btn-primary">Check Out</a>
    }
</div>
<div align="left">
    <a asp-controller="ShoppingCart" asp-action="ClearCart" class="btn btn-danger">Clear Cart</a>
</div>

