﻿@model IEnumerable<Cars>

@{
    ViewData["Title"] = "Home Page";
}
 @ViewBag.message
<div align="center">
    <h1>Welcome to Online Car Shop!</h1>
    <h2>Here's our Best selection of Cars.</h2>
</div>

<div class="row carousel-holder" align="center">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
        
                @foreach (var car in Model)
                {
                    <li data-target="#carousel-example-generic" data-slide-to="@car.Id"></li>
                }
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="text-center"><b>here are most demanding cars in world!</b></div>
                    <img class="slide-image" src="ImagesCar\HomeImage.jpg" alt="Home page picture">
                </div>
                <div class="item">
                    <div class="text-center"><b>here are most demanding cars in world!</b></div>
                    <img class="slide-image" src="ImagesCar\1.jpg" alt="Home page picture">
                </div>
            
                <div class="item">
                    <div class="text-center"><b>here are most demanding cars in world!</b></div>
                    <img class="slide-image" src="ImagesCar\3.jpg" alt="Home page picture">
                </div>
                @foreach (var car in Model)
                {
                    <div class="item">
                        <div class="text-center"><b>@car.Name</b></div>
                        <a asp-controller="Cars" asp-action="DisplayDetails" asp-route-id="@car.Id">
                            <img class="img-responsive slide-image" src="@car.ImageUrl" alt="Picture of @car.Name">
                        </a>
                    </div>
                }
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
