@model IEnumerable<Reviews>

@{
    ViewData["Title"] = "CarReviews";
}

<h2>Reviews for the Car: @ViewBag.CarName</h2>

<h4>
    <a asp-controller="Cars" asp-action="DisplayDetails"
       asp-route-id="@ViewBag.CarId">Back to  @ViewBag.CarName</a>
</h4>

<p>
    <a asp-action="CreateWithCar" asp-route-carId="@ViewBag.CarId" class="btn btn-success">Create New Review</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                
        </tr>
}
    </tbody>
</table>
