@model IEnumerable<PartsCategories>

<li class="dropdown">
    <a asp-controller="Parts" asp-action="ListAll"
       class="dropdown-toggle" data-toggle="dropdown">Parts Categories<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Parts" asp-action="ListCategory"
                   asp-route-categoryName="@category.Name">@category.Name</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Parts" asp-action="ListAll" asp-route-category="">View all Parts</a>
        </li>
    </ul>
</li>
