@model Parts

@{
    var ModelName = "Part Details";
    ViewData["Title"] = ModelName;
}

<h2>@ModelName</h2>
<hr />

<p>
    <a asp-action="ListAll">Back to List</a>
</p>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl" height="800" width="800" class="img-responsive" >
    <div class="caption-full">
        <h2 class="pull-right">@Model.Price.ToString("c")</h2>
        <h2>
            <a href="">@Model.Name</a>
        </h2>
        <div>
        <h4>Category: <b> @Model.PartsCategory.Name </b></h4>
        <p>@Model.Description</p>
        <p>
      
        </p>
            
        </div>

        <br />
        <p class="button">
            <a class="btn btn-primary"asp-controller="Parts" asp-action="AddToShoppingCart"
                asp-route-partId="@Model.Id">Add Part</a>
        </p>
    </div>
</div>
