@model OnlineCarShop.Models.Parts

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit"   enctype="multipart/form-data">
    
    <div class="form-horizontal" >
        <h4>Cars</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <input type="hidden" id="oldImageUrl" value="@Model.ImageUrl" name="oldImageUrl" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">

                <label class="btn btn-primary btn-file">
                    <i class="glyphicon glyphicon-upload"></i>Browse image  <input type="file" id="ImageUrl" name="ImageUrl" style="display: none;">
                </label>
                <span asp-validation-for="ImageUrl" class="text-danger" />
            </div>
        </div>
  
    
        <div class="form-group">
            <label asp-for="PartsCategoriesId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="PartsCategoriesId" class="form-control" asp-items="ViewBag.CategoriesId"></select>
                <span asp-validation-for="PartsCategoriesId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#IsMostDemandCar").val("true");
    </script>
}
