@model IEnumerable<Parts>

@{
    var pageName = ViewBag.CurrentCategory;
    ViewData["Title"] = pageName;
}

<h2>@pageName   Cars</h2>
<hr />

@foreach (var car in Model)
{
    @Html.Partial("PartSummary", car)
}
<br />
