﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

<!DOCTYPE html>
<html>
<head>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Car Shop</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
  
   
   
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color: white;" asp-controller="Home" asp-action="Index" class="navbar-brand">Car Shop</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Cars" asp-action="ListAll">Cars</a></li>
                    <li><a asp-controller="Parts" asp-action="ListAll">Parts</a></li>
                    @await Component.InvokeAsync("CategoryMenu")
                    @await Component.InvokeAsync("PartsCategoryMenu")
                    @if (User.Identity!=null)
                    {
                        <li><a asp-controller="Reviews" asp-action="Index">Reviews</a></li>
                        <li><a asp-controller="Orders" asp-action="Index">Orders</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Reviews" asp-action="ListAll">Reviews</a></li>
                    }
                    @await Component.InvokeAsync("ShoppingCartSummary")
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    @if (User.IsInRole("Admin"))
    {
       
        <div class="row">
      
            <div id="adminMenue" class="col-md-3 col-md-push-1 ">
               
                    <h3><a asp-controller="Cars" asp-action="Index">Cars</a></h3>
                    <h3><a asp-controller="Categories" asp-action="Index">Car Categories</a></h3>
                    <h3><a asp-controller="Parts" asp-action="Index">Parts</a></h3>
                    <h3><a asp-controller="PartsCategories" asp-action="Index">Parts Catagories</a></h3>
                    <h3><a asp-controller="Reviews" asp-action="AdminIndex">Reviews</a></h3>
                    <h3><a asp-controller="Orders" asp-action="Index">Orders</a></h3>
                    @*<h3><a asp-controller="Admin" asp-action="SeedDatabaseAsync">Seed Database</a></h3>
                    <h3><a asp-controller="Admin" asp-action="ClearDatabaseAsync">Clear Database</a></h3>*@
                
            </div>
            
            <div class="col-md-7 ">

              

                    @RenderBody()

                <div class="clearfix"></div>
                    <hr />
                    <footer>
                        <p>
                            <div><a asp-controller="Home" asp-action="About"><b>About</b></a></div>
                            <div><a asp-controller="Home" asp-action="Contact"><b>Contact</b></a></div>
                            <div>&copy; Lahore @DateTime.Now.Year - Car Shop</div>
                        </p>
                    </footer>
                </div>
            </div>
        
    }
    else
    {
        <div class="container body-content">

            @RenderBody()

            <div class="clearfix"></div>
            <hr />
            <footer>
                <p>
                    <div><a asp-controller="Home" asp-action="About"><b>About</b></a></div>
                    <div><a asp-controller="Home" asp-action="Contact"><b>Contact</b></a></div>
                    <div>&copy; Lahore @DateTime.Now.Year - Car Shop</div>
                </p>
            </footer>
        </div>
    }

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>

@*<script>
     $(function () {

         $('#adminMenue').load("/Admin/Index");


     });
</script>*@



