@model Cars

@{
    ViewData["Title"] = "CarSummary";
}
<style>
    .thumbnail img {
        height: 200px;
        width: 250px;
    }

</style>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img class="img-thumbnail img-responsive"
             href=""
             src="@Html.DisplayFor(model=>model.ImageUrl)"
             alt="Car Image Not Found"/>
      
        <div class="caption">
            <h3 class="pull-right">@Model.Price.ToString("c")</h3>
            <h3>
                <a asp-controller="Cars" asp-action="DisplayDetails" asp-route-id="@Model.Id">@Model.Name</a>
            </h3>
            <h5><b>Category: @Model.Category.Name</b></h5>
            <p>@Model.Description</p>
        </div>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                   asp-route-carId="@Model.Id">Add Car</a>
            </p>
        </div>
    </div>
</div>
