@model Parts

@{
    ViewData["Title"] = "Part Summary";
}
<style>
    .thumbnail img {
        height: 200px;
        width: 250px;
    }

</style>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img class="img-thumbnail img-responsive"
             href=""
             src="@Html.DisplayFor(model=>model.ImageUrl)"
             alt="Car Image Not Found"/>
      
        <div class="caption">
            <h3 class="pull-right">@Model.Price.ToString("c")</h3>
            <h3>
                <a asp-controller="Parts" asp-action="DisplayDetails" asp-route-id="@Model.Id">@Model.Name</a>
            </h3>
            <h5><b>Category: @Model.PartsCategory.Name</b></h5>
            <p>@Model.Description</p>
        </div>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary" asp-controller="Parts" asp-action="AddToShoppingCart"
                   asp-route-partId="@Model.Id">Add Part</a>
            </p>
        </div>
    </div>
</div>
