﻿@model SearchCarsViewModel

@{
    var ModelName = "Search Cars";
    ViewData["Title"] = ModelName;
}

<h2>@ModelName</h2>
<form asp-controller="Cars" asp-action="SearchCars">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SearchText" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SearchText" class="form-control" />
                <span asp-validation-for="SearchText" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-info" />
            </div>
        </div>
    </div>
</form>

<h4>Results</h4>
<hr />

@foreach (var car in Model.CarList)
{
    @Html.Partial("CarSummary", car)
}
<br />

